<% include partials/header.ejs %>

  <h1>
    <center>
      <%= title %>
        </div>
    </center>
  </h1>

  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-10 px-0">
        <h1 class="display-4 fst-italic">Welcome to the website of Rushin Barvadia</h1>
        <p class="lead my-3"> you will find Some of the things about me as you scroll through the Navigation Bar</p>
        <p class="lead my-3"> As you will continue across the navigation bar you will find various things about me</p>
        <p class="lead my-3">the main objective of this page is to know more about me and what works i did and
          information for contacting for further details </p>
        <a class="btn btn-primary" href="/aboutme" role="button">About Me</a>
      </div>
    </div>
    </div>
    </div>
    <!-- <% include partials/footer.ejs %> -->