<% include partials/header.ejs %>
    <div class="container">

        <h1>
            <%= title %>
        </h1>
        <p>Welcome To the home planet <%= title %>
        </p>
        <div class="row">
            <div class="col-sm">
                Project 1
                Image
            </div>
            <div class="col-sm">
                Project 2
            </div>
            <div class="col-sm">
                Project 3
            </div>
        </div>
    </div>
    <% include partials/footer.ejs %>